body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: gray;
}

.NavWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contianer {
  padding-top: 5rem;
  margin: 0 auto;
  width: 800px;
}


.green {
  color: green;
  font-size: 25px;
}